*:root {
  background-color: #fefefe;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  margin: 0;
  padding: 10px;
}

*#app {
  flex: 1 1 100%;
  min-height: 0;
  min-width: 0;
}

*.t3-grid {
  --x-colheads-height: 30px;
  --x-rowheads-width: 30px;
  --x-rowheads-height: calc(calc(var(--x-row-height) * var(--x-row-count)) + calc(var(--x-y-space) * 2));
  height: 100%;
  position: relative;
  z-index: 1;
}

*.t3-grid.t3-mode-itemdrag {
  cursor: move;
}

*.t3-grid.t3-mode-itemdrag.t3-nodrop {
  cursor: no-drop;
}

*.t3-grid-shadow {
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

*.t3-grid-scrollport {
  background-color: #616573;
  /*background-image: repeating-linear-gradient(45deg, #fff2 0, #fff2 20px, #fff0 20px, #fff0 50px);*/
  border: 1px solid #616573;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 100%;
  min-height: 0;
  overflow: scroll;
  transition: background-color 300ms;
  touch-action: pinch-zoom;
}

*.t3-grid.t3-mode-itemdrag *.t3-grid-scrollport {
  background-color: #4b4e59;
}

*.t3-grid-head {
  grid-column: 1;
  grid-row: 1;
}

*.t3-grid-colheads,
*.t3-grid-rowheads {
  backdrop-filter: blur(4px);
  background-color: #61657388;
  box-sizing: border-box;
  color: #22293f;
  pointer-events: none;
  user-select: none;
}

*.t3-grid.t3-mode-itemdrag *.t3-grid-colheads,
*.t3-grid.t3-mode-itemdrag *.t3-grid-rowheads {
  background-color: #616573;
  mix-blend-mode: normal;
}

*.t3-grid-colheads {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: var(--x-colheads-height);
  margin-bottom: calc(var(--x-colheads-height) * -1);
  padding: 0 var(--x-x-space);
  position: sticky;
  top: 0;
  width: max-content;
  z-index: 11;
}

*.t3-grid-rowheads {
  display: flex;
  flex-flow: column nowrap;
  height: var(--x-rowheads-height);
  left: 0;

  margin-bottom: calc(var(--x-rowheads-height) * -1);
  margin-right: calc(var(--x-rowheads-width) * -1);
  padding: var(--x-y-space) 0;
  position: sticky;
  width: var(--x-rowheads-width);
  z-index: 11;
}

*.t3-grid-colheads::before,
*.t3-grid-rowheads::before {
  background-color: #616573;
  content: "";
  display: block;
  height: var(--x-colheads-height);
  position: sticky;
  width: var(--x-rowheads-width);
}

*.t3-grid-colheads::before {
  left: 0;
  margin-left: calc(var(--x-x-space) * -1);
  margin-right: calc(var(--x-x-space) - var(--x-rowheads-width));
}

*.t3-grid-rowheads::before {
  margin-bottom: calc(var(--x-y-space) - var(--x-colheads-height));
  margin-top: calc(var(--x-y-space) * -1);
  top: 0;
}

*.t3-grid-colhead,
*.t3-grid-rowhead {
  align-items: center;
  display: flex;
  flex: none;
  font-size: 12px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  transition: background-color 300ms;
}

*.t3-grid-colhead {
  height: 100%;
  width: var(--x-col-width);
}

*.t3-grid-rowhead {
  height: var(--x-row-height);
  width: 100%;
}

*.t3-grid-colhead[aria-current="true"],
*.t3-grid-rowhead[aria-current="true"] {
  /*background-color: #1c65cc;*/
  color: #fff;
  text-shadow: 0 0 2px #616573, 0 0 4px #616573, 0 0 6px #616573, 0 0 8px #616573;
}

*.t3-grid-main {
  align-items: stretch;
  background-image: var(--x-cell-bg);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: var(--x-col-width) var(--x-row-height);

  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: repeat(var(--x-col-count), var(--x-col-width));
  grid-template-rows: repeat(var(--x-row-count), var(--x-row-height));
  height: max-content;
  justify-items: stretch;
  margin: var(--x-y-space) var(--x-x-space);
  position: relative;
  width: max-content;
}

*.t3-grid-cell,
*.t3-item {
  user-select: none;
}

*.t3-grid-cell {
  z-index: 1;
}

*.t3-item {
  height: var(--x-row-height);
  position: absolute;
  transition: left 300ms, top 300ms;
  width: var(--x-col-width);
}

*.t3-item-shadow {
  height: var(--x-row-height);
  pointer-events: none;
  position: absolute;
  width: var(--x-col-width);
  z-index: 21;
}

*.t3-grid-cell-main,
*.t3-item-main {
  align-items: center;
  border-radius: 6px;
  display: flex;
  flex-flow: column nowrap;
  height: calc(100% - calc(var(--x-cell-padding) * 2));
  justify-content: center;
  margin: var(--x-cell-padding);
  width: calc(100% - calc(var(--x-cell-padding) * 2));
}

*.t3-grid-cell-main {
  backdrop-filter: blur(2px);
  background-color: #5ffcda88;
  color: #5f6781;
  font-size: 12px;
}

*.t3-grid.t3-mode-itemdrag:not(*.t3-nodrop) *.t3-grid-cell-main {
  box-shadow: 0 0 0 2px #fff;
}

*.t3-grid.t3-mode-itemdrag.t3-nodrop *.t3-grid-cell-main {
  background-color: #fc9b5f66;
}

*.t3-grid-cell-main *,
*.t3-item-main * {
  pointer-events: none;
}

*.t3-grid-cell-info {
  fill: currentcolor;
  height: 100%;
  paint-order: stroke fill;
  stroke: #fff;
  stroke-width: 4px;
  width: 100%;
}

*.t3-item-main {
  --x-m-color: #afa9b588;
  background-color: #fff;
  box-shadow: 0 2px 5px #0001;
  color: #242d47;
  color: #3f72d0;
  cursor: pointer;
  transition: background-color 200ms;
}

*.t3-item:hover *.t3-item-main {
  background-color: #d2ebf5;
  outline: 2px solid #fff;
}

*.t3-grid.t3-mode-itemdrag *.t3-grid-main *.t3-item-main {
  background-color: #575a67;
  color: #242d4766;
}

*.t3-grid.t3-mode-itemdrag *.t3-grid-main *.t3-item.t3-anchor *.t3-item-main {
  background-color: #346563;
  color: #fff8;
}

*.t3-item-shadow *.t3-item-main {
  box-shadow: 0 4px 15px #0003;
}

*.t3-item-name {
  font-size: 32px;
  font-weight: bold;
}
