*:root {
  overflow: hidden;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

*.v-app {
  --input-size: 400px;
  background-color: #525252;
  box-sizing: border-box;
  column-gap: 40px;
  display: grid;
  grid-template-columns: minmax(200px, var(--input-size)) minmax(var(--input-size), 1fr);
  grid-template-rows: var(--input-size) auto;
  height: 100vh;
  min-width: 460px;
  overflow: auto;
  padding: 20px 30px;
  row-gap: 30px;
  width: 100vw;
}
@media (max-width: 700px) {
  *.v-app {
    grid-template-columns: var(--input-size);
    grid-template-rows: auto var(--input-size) auto;
  }
}

*.v-input-wrapper {
  box-shadow: 0 0 0 2px #2a2a2a;
  height: var(--input-size);
  width: var(--input-size);
}

*.v-input {
  background-color: #5e5e5e;
  background-image: url("./checkered.svg");
  background-size: 100px 100px;
  position: relative;
  height: var(--input-size);
  width: var(--input-size);
}
*.v-input:not([aria-disabled="true"]):hover {
  background-color: #616161;
}
*.v-input:not([aria-disabled="true"]):active {
  cursor: none;
}

*.v-input-layers {
  height: inherit;
  inset: 0;
  pointer-events: none;
  position: absolute;
  width: inherit;
}

*.v-input-layer {
  height: inherit;
  inset: 0;
  pointer-events: none;
  position: absolute;
  width: inherit;
}

*.v-input-layer-path {
  fill: none;
  stroke: #a21;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

*.v-input-indicator {
  --color: #f808;
  --width: 1px;
  --height: 1px;
  height: 1px;
  pointer-events: none;
  position: absolute;
  width: 1px;
}

*.v-input-indicator-crosshair,
*.v-input-indicator-circle,
*.v-input-indicator-contact {
  --i-color: #f808;
  --c-radius: 0;
  --c-radius-a: 0;
  inset: 0;
  pointer-events: none;
  position: absolute;
}

*.v-input-indicator.v--mouse *.v-input-indicator-crosshair,
*.v-input-indicator.v--pen *.v-input-indicator-crosshair {
  --c-radius: 30px;
}
*.v-input-indicator.v--touch *.v-input-indicator-crosshair {
  --c-radius: 80px;
}

*.v-input-indicator.v--mouse *.v-input-indicator-circle,
*.v-input-indicator.v--pen *.v-input-indicator-circle {
  --c-radius: 20px;
  --c-radius-a: 10px;
}
*.v-input-indicator.v--touch *.v-input-indicator-circle {
  --c-radius: 60px;
  --c-radius-a: 60px;
}

*.v-input-indicator-crosshair::before,
*.v-input-indicator-crosshair::after,
*.v-input-indicator-circle::before,
*.v-input-indicator-circle::after,
*.v-input-indicator-contact::before,
*.v-input-indicator-contact::after {
  content: "";
  pointer-events: none;
  position: absolute;
}

*.v-input-indicator-crosshair::before {
  border-top: 1px solid var(--i-color);
  margin-left: calc(var(--c-radius) * -1);
  width: calc(calc(var(--c-radius) * 2) + 1px);
}

*.v-input-indicator-crosshair::after {
  border-left: 1px solid var(--i-color);
  height: calc(calc(var(--c-radius) * 2) + 1px);
  margin-top: calc(var(--c-radius) * -1);
}

*.v-input-indicator-circle::after {
  border: 2px dashed var(--i-color);
  border-radius: 50%;
  inset: calc(var(--c-radius) * -1);
  opacity: 0.6;
  transition: inset 100ms, opacity 100ms;
}
*.v-input-indicator.v--primary *.v-input-indicator-circle::after {
  border-style: solid;
}
*.v-input-indicator.v--contact *.v-input-indicator-circle::after {
  inset: calc(var(--c-radius-a) * -1);
  opacity: 1;
}

*.v-input-indicator-contact {
  --i-color: #f508;
}

*.v-input-indicator-contact::before,
*.v-input-indicator-contact::after {
  height: var(--height);
  margin-left: calc(calc(var(--width) - 1px) * -0.5);
  margin-top: calc(calc(var(--height) - 1px) * -0.5);
  min-height: 1px;
  min-width: 1px;
  width: var(--width);
}
*.v-input-indicator-contact::before {
  background-color: var(--i-color);
  opacity: 0.3;
}
*.v-input-indicator-contact::after {
  box-shadow: 0 0 0 2px var(--i-color);
}

*.v-control {
  align-items: start;
  background-color: #a3a3a3;
  box-shadow: 0 0 0 2px #2a2a2a;
  column-gap: 20px;
  display: flex;
  flex-flow: column nowrap;
  /*min-width: */
  overflow: auto;
  padding: 15px 20px;
  row-gap: 20px;
}
@media (max-width: 700px) {
  *.v-control {
    overflow: visible;
  }
}

*.v-control-group {
  border: 1px solid #808080;
  border-radius: 7px;
  font-size: 12px;
  margin: 0;
  margin-top: -.5lh;
}

*.v-control-flow {
  align-items: center;
  column-gap: 20px;
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
}

*.v-control-button {
  align-items: baseline;
  background-color: #b6b6b6;
  border-radius: 5px;
  column-gap: 5px;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  padding: 5px 15px 5px 10px;
  transition: background-color 200ms;
  user-select: none;
}
input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.25);
  transform-origin: 50% 0;
}
*.v-control-button[aria-disabled="true"],
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
*.v-control-button:not([aria-disabled="true"]):hover {
  background-color: #c6c6c6;
}
*.v-control-button.v--pushbutton {
  align-items: center;
  background-color: #2967d2;
  border: 2px solid currentcolor;
  color: #fff;
  font-size: 14px;
}
*.v-control-button.v--pushbutton:hover {
  background-color: #0e50c3;
  box-shadow: 0 1px 4px 0 #2967d2;
}

*.v-control-button > svg {
  height: 24px;
  width: 24px;
}

*.v-output-wrapper {
  background-color: #2a2a2a;
  box-shadow: 0 0 0 2px #2a2a2a;
  grid-column: 1 / -1;
  min-height: 300px;
  overflow: scroll;
}

*.v-output {
  height: max-content;
  width: max-content;
}
