*:root {
  overflow: hidden;
  /*
  -webkit-user-select: none;
  user-select: none;
  */
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

*.v-app {
  --content-size-x: 600px;
  --content-size-y: 600px;
  --inset: 100px;
  --pane1-size-x: 600px;
  --pane1-size-y: 600px;
  background-color: #525252;
  box-sizing: border-box;
  column-gap: 40px;
  display: grid;
  grid-template-columns: 260px minmax(var(--pane1-size-x), 1fr);
  grid-template-rows: var(--pane1-size-y) 1fr;
  height: 100vh;
  min-height: 100vh;
  min-width: 460px;
  overflow: auto;
  padding: 20px 30px;
  row-gap: 30px;
  width: 100vw;
}
@media (max-width: 700px) {
  *.v-app {
    display: block;
  }
}

*.v-input-pane {
  box-shadow: 0 0 0 2px #2a2a2a;
  grid-column: 2;
  grid-row: 1;
  height: var(--pane1-size-y);
  overflow: scroll;
  position: relative;
  min-width: var(--pane1-size-x);
  z-index: 1;
}

*.v-input {
  background-color: #3c3c3c;
  height: 100%;
  position: relative;
  min-height: var(--content-size-y);
  min-width: var(--content-size-x);
}
*.v-input:not([aria-disabled="true"]):hover {
  background-color: #474747;
}
*.v-input:not([aria-disabled="true"]):active {
  cursor: none;
}

*.v-input-clip {
  background-color: #e4e4e4;
  background-image: url("./checkered.svg");
  background-size: 100px 100px;
  height: calc(var(--content-size-y) - calc(var(--inset) * 2));
  inset-block-start: var(--inset);
  inset-inline-start: var(--inset);
  pointer-events: none;
  position: absolute;
  width: calc(var(--content-size-x) - calc(var(--inset) * 2));
}
*.v-input:not([aria-disabled="true"]):hover *.v-input-clip {
  box-shadow: 0 2px 8px #0004;
}

*.v-input-layers {
  clip-path: inset(var(--inset));
  height: var(--content-size-y);
  inset: 0;
  mix-blend-mode: darken;
  pointer-events: none;
  position: absolute;
  width: var(--content-size-x);
  z-index: 1;
}

*.v-input-layers::after {
  background-image: linear-gradient(to bottom, #3480dd 0%, #0f3a51 100%);
  content: "";
  inset: 0;
  mix-blend-mode: plus-lighter;
  pointer-events: none;
  position: absolute;
  z-index: 3;
}

*.v-input-layer {
  background-color: #fff;
  height: inherit;
  inset: 0;
  pointer-events: none;
  position: absolute;
  width: inherit;
  z-index: 2;
}

*.v-input-layer-path {
  fill: none;
  stroke: #a21;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}

*.v-pointer-indicators {
  grid-column: 2;
  grid-row: 1;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

*.v-pointer-indicator {
  --color: #f808;
  --width: 1px;
  --height: 1px;
  height: 1px;
  pointer-events: none;
  position: absolute;
  width: 1px;
}

*.v-pointer-indicator-crosshair,
*.v-pointer-indicator-circle,
*.v-pointer-indicator-contact {
  --i-color: #f808;
  --c-radius: 0;
  --c-radius-a: 0;
  inset: 0;
  pointer-events: none;
  position: absolute;
}

*.v-pointer-indicator.v--mouse *.v-pointer-indicator-crosshair,
*.v-pointer-indicator.v--pen *.v-pointer-indicator-crosshair {
  --c-radius: 30px;
}
*.v-pointer-indicator.v--touch *.v-pointer-indicator-crosshair {
  --c-radius: 80px;
}

*.v-pointer-indicator.v--mouse *.v-pointer-indicator-circle,
*.v-pointer-indicator.v--pen *.v-pointer-indicator-circle {
  --c-radius: 20px;
  --c-radius-a: 10px;
}
*.v-pointer-indicator.v--touch *.v-pointer-indicator-circle {
  --c-radius: 60px;
  --c-radius-a: 60px;
}

*.v-pointer-indicator-crosshair::before,
*.v-pointer-indicator-crosshair::after,
*.v-pointer-indicator-circle::before,
*.v-pointer-indicator-circle::after,
*.v-pointer-indicator-contact::before,
*.v-pointer-indicator-contact::after {
  content: "";
  pointer-events: none;
  position: absolute;
}

*.v-pointer-indicator-crosshair::before {
  border-top: 1px solid var(--i-color);
  margin-left: calc(var(--c-radius) * -1);
  width: calc(calc(var(--c-radius) * 2) + 1px);
}

*.v-pointer-indicator-crosshair::after {
  border-left: 1px solid var(--i-color);
  height: calc(calc(var(--c-radius) * 2) + 1px);
  margin-top: calc(var(--c-radius) * -1);
}

*.v-pointer-indicator-circle::after {
  border: 2px dashed var(--i-color);
  border-radius: 50%;
  inset: calc(var(--c-radius) * -1);
  opacity: 0.6;
  transition: inset 100ms, opacity 100ms;
}
*.v-pointer-indicator.v--primary *.v-pointer-indicator-circle::after {
  border-style: solid;
}
*.v-pointer-indicator.v--contact *.v-pointer-indicator-circle::after {
  inset: calc(var(--c-radius-a) * -1);
  opacity: 1;
}

*.v-pointer-indicator-contact {
  --i-color: #f508;
}

*.v-pointer-indicator-contact::before,
*.v-pointer-indicator-contact::after {
  height: var(--height);
  margin-left: calc(calc(var(--width) - 1px) * -0.5);
  margin-top: calc(calc(var(--height) - 1px) * -0.5);
  min-height: 1px;
  min-width: 1px;
  width: var(--width);
}
*.v-pointer-indicator-contact::before {
  background-color: var(--i-color);
  opacity: 0.3;
}
*.v-pointer-indicator-contact::after {
  box-shadow: 0 0 0 2px var(--i-color);
}

*.v-control {
  align-items: start;
  background-color: #a3a3a3;
  box-shadow: 0 0 0 2px #2a2a2a;
  column-gap: 20px;
  display: flex;
  flex-flow: column nowrap;
  grid-column: 1;
  grid-row: 1;
  /*min-width: */
  overflow: auto;
  padding: 15px 20px;
  row-gap: 20px;
}
@media (max-width: 700px) {
  *.v-control {
    overflow: visible;
  }
}

*.v-control-group {
  border: 1px solid #808080;
  border-radius: 7px;
  font-size: 12px;
  margin: 0;
  margin-top: -.5lh;
}

*.v-control-group *.v-control-group {
  margin-block: 0px;
}

*.v-control-group *.v-control-group + *.v-control-group {
  margin-block-start: 10px;
}

*.v-control-item.v--range {
  align-items: center;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: auto;
  justify-items: end;
}

*.v-control-flow {
  align-items: center;
  column-gap: 20px;
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
}

*.v-control-button {
  align-items: baseline;
  background-color: #b6b6b6;
  border-radius: 5px;
  column-gap: 5px;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  padding: 5px 15px 5px 10px;
  transition: background-color 200ms;
  user-select: none;
}
input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.25);
  transform-origin: 50% 0;
}
*.v-control-button[aria-disabled="true"],
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
*.v-control-button:not([aria-disabled="true"]):hover {
  background-color: #c6c6c6;
}
*.v-control-button.v--pushbutton {
  align-items: center;
  background-color: #2967d2;
  border: 2px solid currentcolor;
  color: #fff;
  font-size: 14px;
}
*.v-control-button.v--pushbutton:hover {
  background-color: #0e50c3;
  box-shadow: 0 1px 4px 0 #2967d2;
}

*.v-control-button > svg {
  height: 24px;
  width: 24px;
}

*.v-output-pane {
  background-color: #2a2a2a;
  box-shadow: 0 0 0 2px #2a2a2a;
  grid-column: 1 / -1;
  grid-row: 2;
  min-height: 200px;
  overflow: scroll;
}
@media (max-width: 700px) {
  *.v-output-pane {
    min-height: 200px;
  }
}

*.v-output {
  --rowhead-width: 160px;
  height: max-content;
  width: max-content;
}

*.v-output-head {
  height: 20px;
  width: calc(var(--rowhead-width) + var(--len));
}

*.v-output-detail {
  background-image: linear-gradient(#15423f 0%, #15423f 100%);
  background-position: 0 16px;
  background-repeat: repeat-x;
  background-size: 400px 2px;
  height: 30px;
  position: relative;
  width: 100%;
}

*.v-output-detail-name {
  align-items: center;
  background-color: #2a2a2a;
  display: flex;
  height: 30px;
  justify-content: end;
  left: 0;
  padding-left: 3px;
  position: sticky;
  width: var(--rowhead-width);
  z-index: 1;
}

*.v-output-detail-name-content {
  align-items: center;
  background-color: #168c82;
  clip-path: polygon(0 0, calc(100% - 10px) 0, calc(100% - 2px) 50%, calc(100% - 10px) 100%, 0 100%);
  display: flex;
  font-size: 12px;
  height: 24px;
  padding: 0 10px 0 6px;
}

*.v-output-detail-timeline {
  align-items: center;
  height: 30px;
  left: calc(var(--rowhead-width) + var(--start));
  position: absolute;
  top: 0;
  width: var(--len);
}

*.v-output-detail-timeline::before {
  background-color: #10cbbc;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 100%;
}

*.v-output-detail-timeline.v--live:last-child {
  right: 0;
  width: auto;
}

*.v-output-detail-timeline-2 {
  background-color: #aceb71;
  height: 6px;
  left: var(--start2);
  position: absolute;
  top: 8px;
  width: var(--len2);
}

*.v-output-detail-timeline-2.v--live:last-child {
  right: 0;
  width: auto;
}

*.v-output-detail-timeline-det {
  background: #15423f;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  position: absolute;
  top: 18px;
  visibility: hidden;
  white-space: nowrap;
}

*.v-output-detail-timeline:hover *.v-output-detail-timeline-det {
  visibility: visible;
}
